In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
list = []
for i in df['PassengerId'] :
    result = i.split('_')
    list.append(''.join(result))
df['PassengerId'] = list

In [5]:
df['PassengerId'] = pd.to_numeric(df['PassengerId'] )

In [6]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,101,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,201,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,301,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,302,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,401,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,927801,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,927901,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,928001,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,928002,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [7]:
df['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [8]:
def category_onehot_multcols(multcolumns):
    df_final=df2
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(df2[fields],drop_first=True)
        
        df2.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([df2,df_final],axis=1)
        
    return df_final

In [9]:
list1 = []
for i in df['CryoSleep'] :
    if i == False :
        list1.append(0)
    else :
        list1.append(1)
df['CryoSleep'] = list1

In [10]:
df['CryoSleep']

0       0
1       0
2       0
3       0
4       0
       ..
8688    0
8689    1
8690    0
8691    0
8692    0
Name: CryoSleep, Length: 8693, dtype: int64

In [11]:
df['VIP'] = df['VIP'].fillna(df['VIP'].mode()[0])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   int64
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8693 non-null   int64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(2), float64(6), int64(2), object(4)
memory usage: 832.1+ KB

In [13]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,101,Europa,0,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,201,Earth,0,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,301,Europa,0,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,302,Europa,0,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,401,Earth,0,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601,Europa,0,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,927801,Earth,1,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,927901,Earth,0,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,928001,Europa,0,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,928002,Europa,0,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [14]:
df['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [15]:
df['Cabin'] = df['Cabin'].fillna(df['Cabin'].mode()[0])

In [16]:
list_t = []
list_n = []
list_st = []
for i in df['Cabin'] :
    res = i.split('/')
    list_t.append(res[0])
    list_n.append(res[1])
    if res[2] == 'P':
        list_st.append(0)
    else :
        list_st.append(1)
df['CabinType'] = list_t
df['CabinNum'] = list_n
df['CabinSp'] = list_st

In [17]:
 df.drop(['Cabin'] , axis=1 , inplace=True)

In [18]:
list1 = []
for i in df['VIP'] :
    if i == False :
        list1.append(0)
    else :
        list1.append(1)
df['VIP'] = list1

In [19]:
df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,CabinType,CabinNum,CabinSp
0,101,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,0
1,201,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,1
2,301,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,1
3,302,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,1
4,401,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601,Europa,0,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,A,98,0
8689,927801,Earth,1,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,G,1499,1
8690,927901,Earth,0,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,G,1500,1
8691,928001,Europa,0,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,E,608,1
8692,928002,Europa,0,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,E,608,1

In [20]:
 df.drop(['Name'] , axis=1 , inplace=True)

In [21]:
df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinType,CabinNum,CabinSp
0,101,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False,B,0,0
1,201,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True,F,0,1
2,301,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,A,0,1
3,302,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,A,0,1
4,401,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True,F,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601,Europa,0,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,A,98,0
8689,927801,Earth,1,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,False,G,1499,1
8690,927901,Earth,0,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,G,1500,1
8691,928001,Europa,0,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,E,608,1
8692,928002,Europa,0,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,E,608,1

In [22]:
df['CabinType'].unique()

array(['B', 'F', 'A', 'G', 'E', 'D', 'C', 'T'], dtype=object)

In [23]:
from sklearn.preprocessing import LabelEncoder
df['CabinType'] = LabelEncoder().fit_transform(df['CabinType'])

In [24]:
df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinType,CabinNum,CabinSp
0,101,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False,1,0,0
1,201,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True,5,0,1
2,301,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,0,0,1
3,302,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,0,0,1
4,401,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601,Europa,0,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,0,98,0
8689,927801,Earth,1,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,False,6,1499,1
8690,927901,Earth,0,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,6,1500,1
8691,928001,Europa,0,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,4,608,1
8692,928002,Europa,0,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,4,608,1

In [25]:
columns = ['HomePlanet' , 'Destination' ]
df2 = df.copy()

In [26]:
df2 = category_onehot_multcols(columns)
final_df =df2.loc[:,~df2.columns.duplicated()]

HomePlanet
Destination

In [27]:
df[['CabinNum']] = df[['CabinNum']].apply(pd.to_numeric,errors = 'coerce')

In [28]:
final_df[['CabinNum']] = final_df[['CabinNum']].apply(pd.to_numeric,errors = 'coerce')

In [29]:
final_df.dropna(inplace=True)

In [30]:
y = final_df['Transported']

In [31]:
final_df.drop(['Transported'] , axis=1 , inplace=True)

In [32]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(final_df , y)

In [33]:
X_train

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CabinType,CabinNum,CabinSp,Europa,Mars,PSO J318.5-22,TRAPPIST-1e
8597,917801,0,53.0,0,49.0,584.0,0.0,0.0,70.0,5,1877,0,0,0,0,1
4056,433601,0,29.0,1,267.0,1418.0,257.0,843.0,0.0,2,155,1,1,0,0,1
7997,855701,1,39.0,0,0.0,0.0,0.0,0.0,0.0,1,334,1,1,0,0,1
7888,841902,1,20.0,0,0.0,0.0,0.0,0.0,0.0,6,1349,1,0,0,0,1
1176,124301,0,41.0,0,0.0,4224.0,0.0,1374.0,1281.0,0,9,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,783702,1,35.0,0,0.0,0.0,0.0,0.0,0.0,1,306,1,1,0,0,1
2112,226601,0,30.0,0,616.0,0.0,185.0,210.0,475.0,5,457,0,0,1,0,1
3365,361601,1,23.0,0,0.0,0.0,0.0,0.0,0.0,6,584,1,0,0,0,0
5468,582901,0,23.0,0,0.0,21.0,0.0,0.0,716.0,5,1113,1,0,0,0,1
1318,139701,0,39.0,0,386.0,190.0,0.0,489.0,0.0,5,271,1,0,0,0,1

In [34]:
y_train

8597    False
4056     True
7997     True
7888     True
1176    False
        ...
7324     True
2112    False
3365     True
5468    False
1318    False
Name: Transported, Length: 5715, dtype: bool

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
model = LogisticRegression(random_state=42, C=10)

In [37]:
model.fit(X_train,y_train)

C:\Users\33255751\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=10, random_state=42)

In [38]:
print(model.score(X_train, y_train))

0.7900262467191601

In [39]:
y_pred = model.predict(X_test)
print(model.score(X_test, y_test))

0.7711286089238845

In [40]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, y_pred))

[[587 323]
 [113 882]]

In [41]:
from sklearn import metrics
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.84      0.65      0.73       910
        True       0.73      0.89      0.80       995

    accuracy                           0.77      1905
   macro avg       0.79      0.77      0.77      1905
weighted avg       0.78      0.77      0.77      1905